<div class="p-2">
  <div class="text-4xl font-semibold mb-2">DemoGirdLayout</div>
  <ktd-grid
    [cols]="cols"
    [rowHeight]="rowHeight"
    [layout]="layout"
    (layoutUpdated)="onLayoutUpdated($event)"
    (resizeStarted)="onResizeStarted($event)"
    (resizeEnded)="onResizeEnded($event)"
    [gap]="10"
  >
    <ktd-grid-item
      [resizable]="false"
      [draggable]="false"
      *ngFor="let item of layout; trackBy: trackById"
      [id]="item.id"
    >
      <div class="bg-gray-500 w-full h-full p-2 rounded-xl">
        <div class="text-4xl text-white">Node</div>
      </div>
    </ktd-grid-item>
  </ktd-grid>
</div>
